/* Ensure the navbar text is bold and the background is the specified color */
.navbar-default {
  background-color: #00abbe;
  border-color: #00abbe;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  color: #ffffff;
  font-weight: bold;
}

/* Full width container, typically used for Bootstrap .container */
.container {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Ensure the image is left aligned */
.header-image {
  text-align: left; /* Align the inline(-block) elements to the left */
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default padding */
}

.header-image img {
  max-width: 30%; /* Or the width you desire */
  height: auto; /* Maintain aspect ratio */
  display: inline; /* Change display to inline, respecting text alignment */
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default padding */
}

/* Center the title and add lines before and after */
.title-with-lines {
  text-align: center;
  position: relative;
}

.title-with-lines:before,
.title-with-lines:after {
  content: "";
  display: block;
  height: 2px;
  background: #4fbfa8;
  position: absolute;
  left: 50%; /* Start from the middle */
  transform: translateX(-50%); /* Adjust to center horizontally */
}

.title-with-lines:before {
  top: 0; /* Position the line above the title */
  width: calc(50% - 50px); /* Adjust the width */
}

.title-with-lines:after {
  bottom: 0; /* Position the line below the title */
  width: calc(50% - 50px); /* Adjust the width */
}

/* Apply styles to all img elements that ensure they're block level */
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0; /* Remove margins to ensure the image is truly left-aligned */
  padding: 0; /* Remove padding to avoid any unwanted spacing */
}
